body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blac{
    height: 50%;
    width: 60%;
    background-image: url("img_1.jpg");
    background-size: contain;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

}

